<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>全年檔期</title>
  <link href="https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="../css/ticket-css/Schedule.css" />
</head>

<body>
  <header>
    <div class="header-div">
      <div class="header-img">
        <a href="/APE/index.html"><img class="logo" src="../img/exhibition-img/APE3.svg" alt="" /></a>
      </div>
      <div class="nav" id="header">
<!--         <span class="header-singin"><a href="">登入</a>&emsp;|&emsp;<a href="">註冊</a></span> -->
        <ul>
          <li><a class="a1" href="#">線上商城</a></li>
          <li>
            <a class="a1" href="#">展覽活動</a>
            <ul class="menu-ul">
              <li class="a2"><a href="">全年檔期</a></li>
              <li class="a2"><a href="">優惠資訊</a></li>
              <li class="a2"><a href="">報名查詢</a></li>
            </ul>
          </li>
          <li><a class="a1" href="#">地圖導覽</a></li>
          <li>
            <a class="a1" href="#">廠商專區</a>
            <ul class="menu-ul">
              <li class="a2"><a href="">廠商後台</a></li>
              <li class="a2"><a href="">場地租借</a></li>
              <li class="a2"><a href="">活動查詢</a></li>
            </ul>
          </li>
          <li><a class="a1" href="#">討論區</a></li>
          <li>
            <a class="a1" href="#">聯絡客服</a>
            <ul class="menu-ul">
              <li class="a2"><a href="">意見回饋</a></li>
              <li class="a2"><a href="">常見問答</a></li>
              <li class="a2"><a href="">贈品兌換</a></li>
            </ul>
          </li>
          <li><a class="a1" href="#">會員中心</a></li>
          <a class="a1-shop" href="#"><img class="shop" src="../img/index-img/shop.png" alt="" /></a>
        </ul>
      </div>
      <input type="checkbox" name="menu-switcher" id="menu-switcher" />
      <label for="menu-switcher" class="hamburger">
        <div class="hamburger-line"></div>
      </label>
      <ul class="menu">
        <li><a href="">線上商城</a></li>
        <li><a href="">展覽活動</a></li>
        <li><a href="">地圖導覽</a></li>
        <li><a href="">廠商專區</a></li>
        <li><a href="">討論區</a></li>
        <li><a href="">聯絡客服</a></li>
        <li><a href="">會員中心</a></li>
      </ul>
    </div>
  </header> 

  <!-- 線與文字 -->
  <div class="container" style="margin-top:1%;">
  <div class="container d-flex align-items-center">
    <div class="banner"></div>
    <div class="bannertext"><h3>Schedule</h3></div>
    <div class="banner"></div>
  </div>  
    <h2 style="text-align:center;">全年活動</h2>
  </div>

  <div class="container" id="area" style="margin-top:2%;">
    <div class="row justify-content-center">
      <button class="col-2 areabtn" :class="display(index)" @click="area(index)" v-for="(item,index) in region" :key="item.id"> {{item}} </button>
    </div>
  </div>

  <!-- 配合按鈕的文字 -->
  <div class="container" style="margin-top: 3%;" id="sctext">
    <h1 style="margin-bottom: 0;"> {{h1}} </h1>
    <h5 style="font-weight: bold;"> {{h5}} </h5>
  </div>

  <!-- 顯示區域展覽 -->
  <section class="container" id="schedule">
    <div class="row" style="margin-top: 2%;" v-for="(EXH,index) in exh" :class="{ dis: EXH.bl }">
      <div class="col-5">
        <a href="TicketsBuy.html"><div class="w-100" style="height: 300px;"><img class="w-100 h-100" :src="EXH.img" alt=""></div></a>
      </div>
      <div class="col-7">
        <h1>{{EXH.Topic}}<span style="font-size:1.2rem;">&emsp;&emsp;&emsp;{{EXH.Date}}</span></h1>
        <h5>{{EXH.Content}}</h5>
      </div>
      <div style="display: none;">
        {{EXH.Area}}
      </div>
    </div>

  </section>

  <footer>
    <div class="footer-div">
      <div class="footer-img">
        <a href=""><img class="footer-logo" src="../img/APE3.svg" alt="" /></a>
        <div class="footer-p">
          <h3>艾普藝森國際展覽</h3>
          <span>104台北市中山區南京東路三段219號5樓</span>
          <br>
          <span>業務洽詢：huangwei_wu@wiedu.com</span>
        </div>
      </div>
      <div class="footer-nav">
        <ul>
          <li><a href="#">關於我們</a></li>
          <li><a href="#">會員協議</a></li>
          <li><a href="#">聯絡我們</a></li>
          <li><a href="#">加入我們</a></li>
        </ul>
      </div>
      <div class="footer-line"></div>
      <p>
        <span class="footer-span">
          <span>Copyrights ©2021 All Rights Reserved by A.P.E</span>
        </span>
      <div class="footer-i">
        <div class="footer-message">
          <i><a href=""><img src="../img/index-img/Line.png" alt=""></a></i>
          <i><a href=""><img src="../img/index-img/FB.png" alt=""></a></i>
          <i><a href=""><img src="../img/index-img/instagram-logo.png" alt=""></a></i>
        </div>
      </div>
      </p>
    </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="../js/vue.js"></script>
  <script src="../js/bootstrap.bundle.min.js"></script>
  <script src="/APE/js/HF.js"></script>
  <script src="../js/ticket-js/Schedule.js"></script>
  <script src="/APE/js/member/memHeader.js"></script>
</body>
</html>