.car {
	display: none;
	position: absolute;
	background-color: #d3d3d35e;
	border-radius: 20px;
	width: 300px;
	height: 350px;
	border: 1px white;
	border-style: solid;
	padding: 20px;
	right: 0;
	left:20px;
}
#car li {
    color: darkred;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
}


.car_top {
	top: 10px;
	position: absolute;
	font-size: 22px;
	color:#4e5562;
	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #576b67;
}

ul {
	list-style: none;
}

html, body {
	font-size: 18px;
	background: #f4eccf;
	/* width: 100%; */
	/* font-weight: bold; */
	/* height: 100%; */
	font-family: "Kosugi Maru", sans-serif;
}

header {
	display: flex;
	width: 100%;
	position: relative;
}

.header-div {
	position: relative;
	display: flex;
	width: 1500px;
	margin: 0 auto;
	/* border: solid 2px red; */
}

.header-img {
	display: flex;
	display: inline-block;
}

.logo {
	width: 100px;
	margin: 5px 0;
}

.header-singin {
	position: absolute;
	top: 0;
}

.nav {
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
}

.nav>ul {
	display: flex;
}

.nav>ul>li {
	margin-left: 2.2rem;
	margin-top: 1rem;
	position: relative;
}

.menu-ul {
	height: 0;
	background-color: rgba(245, 222, 179, 0.8);
	transition: 0.2s;
	overflow: hidden;
	position: absolute;
	display: list-item;
	z-index: 998;
	left: -20%;
	margin-top: 10%;
}

.a1:hover {
	color: sienna;
}

.a1::after {
	content: '';
	width: 0%;
	height: 1px;
	background-color: sienna;
	position: absolute;
	top: 80%;
	left: 0;
	transition: all .3s linear;
}

.a1:hover:after {
	width: 100%;
}

.a2 {
	width: 100px;
	height: 24px;
	margin-top: 15%;
}

.a2 a {
	position: relative;
	top: -55%;
	left: 14%;
	height: 18px;
	top: 5%;
}

.shop {
	height: 2rem;
	margin-left: 2.2rem;
	margin-right: 2.3rem;
	margin-top: 0.2rem;
}

.hamburger {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20%;
	right: 0;
	display: block;
	cursor: pointer;
}

.hamburger-line {
	width: 40px;
	height: 4px;
	background-color: #ffffff;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: 0px 10px 0px #ffffff, 0px -10px 0px #ffffff;
}

.menu {
	background-color: #f4eccf;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	transform: translateX(-120%);
	transition: 0.5s;
	z-index: 100;
}

.menu>li>a {
	display: block;
	padding: 15px;
	margin: 0px 20px 10px;
	color: #576b67;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
	border-bottom: 2px solid #463633;
}

#menu-switcher {
	display: none;
}

#menu-switcher:checked ~ .menu {
	transform: none;
}

.menu>li>a:hover {
	color: red;
}

footer {
	display: flex;
	width: 100%;
	margin-top: 2rem;
	color: #463633;
	/* background-color: rgba(230, 170, 150, 0.35); */
	background-color: rgba(210, 186, 158, 0.35);
}

.footer-div {
	position: relative;
	margin: auto;
	width: 1500px;
	/* border: solid 2px blue; */
}

.footer-img {
	display: inline-block;
}

.footer-logo {
	height: 100px;
	/* margin-left: 0; */
	margin: 5px 1rem 0 0;
}

.footer-p {
	position: absolute;
	top: 10%;
	display: inline-block;
}

.footer-nav {
	position: absolute;
	width: 50%;
	/* height: 100%; */
	/* border: solid 2px purple; */
	display: inline-block;
	right: 0;
}

.footer-nav>ul {
	display: flex;
	margin-top: 4rem;
	justify-content: flex-end;
}

.footer-nav>ul>li {
	margin-right: 2.5rem;
}

.footer-nav>ul>li>a {
	color: #463633;
}

.footer-line {
	border: solid 1px #463633;
	width: 95%;
	margin: 2rem auto;
}

.footer-i {
	position: absolute;
	right: 3%;
	top: 70%;
}

footer p {
	margin-top: 2%;
}

.footer-span {
	display: flex;
	margin-left: 3%;
}

.footer-span>span {
	margin-top: -1%;
}

.footer-message>i>a {
	margin-left: 1rem;
}

.footer-message>i>a>img {
	margin-top: 5%;
	height: 40px;
	width: 40px;
}

@media ( min-width : 991.98px) {
	.hamburger {
		display: none;
	}
	.menu {
		display: none;
	}
}

@media ( max-width : 1499.98px) {
	.header-div, .footer-div {
		width: 1200px;
	}
}

@media ( min-width : 992px) and (max-width: 1199.98px) {
	.header-div, .footer-div {
		width: 990px;
	}
}

@media ( min-width : 768px) and (max-width: 991.98px) {
	.header-div {
		width: 100%;
	}
	.nav {
		display: none;
	}
	.logo {
		height: 80px;
	}
	.header-singin {
		display: none;
	}
	.footer-div {
		position: relative;
		margin: auto;
		width: 100%;
		/* border: solid 2px blue; */
	}
	.footer-img {
		display: flex;
		justify-content: center;
	}
	.footer-logo {
		height: 80px;
		/* margin:10px 0; */
	}
	.footer-p {
		position: absolute;
		top: 40%;
		left: 5%;
		display: inline-block;
		font-size: 14px;
	}
	.footer-nav {
		position: absolute;
		display: flex;
		width: 100%;
	}
	.footer-nav>ul {
		display: flex;
		margin: 0 auto;
	}
	.footer-nav>ul>li {
		margin: 0 0.5rem;
	}
	.footer-line {
		border: solid 1px #463633;
		width: 100%;
		margin: 6rem auto;
	}
	.footer-i {
		position: absolute;
		display: flex;
		width: 100%;
		top: 68%;
	}
	.footer-message {
		margin: 0 auto;
	}
	footer p {
		margin-top: 0%;
	}
	.footer-span {
		display: flex;
	}
	.footer-span>span {
		margin: auto;
		margin-top: -2rem;
	}
	.footer-message>i>a {
		margin-left: 3rem;
	}
	.footer-message>i>a>img {
		margin-top: 0%;
		height: 40px;
		width: 40px;
	}
}

@media ( min-width : 540px) and (max-width: 767.98px) {
	.header-div {
		width: 100%;
	}
	.logo {
		height: 80px;
	}
	.header-div {
		width: 100%;
	}
	.nav {
		display: none;
	}
	.logo {
		height: 80px;
	}
	.header-singin {
		display: none;
	}
	.footer-div {
		position: relative;
		margin: auto;
		width: 100%;
		/* border: solid 2px blue; */
	}
	.footer-img {
		display: flex;
		justify-content: center;
	}
	.footer-logo {
		height: 80px;
		/* margin:10px 0; */
	}
	.footer-p {
		position: absolute;
		top: 40%;
		left: 5%;
		display: inline-block;
		font-size: 14px;
	}
	.footer-nav {
		position: absolute;
		display: flex;
		width: 100%;
	}
	.footer-nav>ul {
		display: flex;
		margin: 0 auto;
	}
	.footer-nav>ul>li {
		margin: 0 0.5rem;
	}
	.footer-line {
		border: solid 1px #463633;
		width: 100%;
		margin: 6rem auto;
	}
	.footer-i {
		position: absolute;
		display: flex;
		width: 100%;
		top: 68%;
	}
	.footer-message {
		margin: 0 auto;
	}
	footer p {
		margin-top: 0%;
	}
	.footer-span {
		display: flex;
	}
	.footer-span>span {
		margin: auto;
		margin-top: -2rem;
	}
	.footer-message>i>a {
		margin-left: 3rem;
	}
	.footer-message>i>a>img {
		margin-top: 0%;
		height: 40px;
		width: 40px;
	}
}

@media ( min-width : 320px) and (max-width: 539.98px) {
	.header-div {
		width: 100%;
	}
	.logo {
		height: 80px;
	}
	.header-div {
		width: 100%;
	}
	.nav {
		display: none;
	}
	.logo {
		height: 80px;
	}
	.header-singin {
		display: none;
	}
	.footer-div {
		position: relative;
		margin: auto;
		width: 100%;
		/* border: solid 2px blue; */
	}
	.footer-img {
		display: flex;
		justify-content: center;
	}
	.footer-logo {
		height: 80px;
		/* margin:10px 0; */
	}
	.footer-p {
		position: absolute;
		top: 40%;
		left: 5%;
		display: inline-block;
		font-size: 14px;
	}
	.footer-nav {
		position: absolute;
		display: flex;
		width: 100%;
	}
	.footer-nav>ul {
		display: flex;
		margin: 0 auto;
	}
	.footer-nav>ul>li {
		margin: 0 0.5rem;
	}
	.footer-line {
		border: solid 1px #463633;
		width: 100%;
		margin: 6rem auto;
	}
	.footer-i {
		position: absolute;
		display: flex;
		width: 100%;
		top: 68%;
	}
	.footer-message {
		margin: 0 auto;
	}
	footer p {
		margin-top: 0%;
	}
	.footer-span {
		display: flex;
	}
	.footer-span>span {
		margin: auto;
		margin-top: -2rem;
		font-size: 13px;
	}
	.footer-message>i>a {
		margin-left: 3rem;
	}
	.footer-message>i>a>img {
		margin-top: 0%;
		height: 40px;
		width: 40px;
	}
	.footer-nav>ul>li>a {
		color: #463633;
		font-size: 15px;
	}
}