* {
	font-family: sans-serif, 'Kosugi Maru';
}

.container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
}

.container h2 {
	font-size: 26px;
	margin: 20px 0;
	text-align: center;
	font-weight: 500;
	color: #4e5562;
}

.responsive-table li {
	border-radius: 3px;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}

.table-header {
	background-color: #915957c2;
	font-size: 20px;
	text-transform: uppercase;
	letter-spacing: 0.03em;
	color: whitesmoke;
}

.header-1 {
	flex-basis: 15%;
	text-align: center;
}

.header-2 {
	flex-basis: 15%;
	text-align: center;
}

.header-3 {
	flex-basis: 10%;
	text-align: center;
}

.header-4 {
	flex-basis: 30%;
	text-align: center;
}

.header-5 {
	flex-basis: 20%;
	text-align: center;
}

.header-6 {
	flex-basis: 10%;
	text-align: center;
}

.table-row {
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
	font-size: 18px;
	color: #4e5562;
}

.col-1 {
	flex-basis: 15%;
	text-align: center;
	margin: auto;
	padding: 5px;
	font-size: 16px;
}

.col-2 {
	flex-basis: 15%;
	text-align: center;
	margin: auto;
	padding: 5px;
	font-size: 16px;
}

.col-3 {
	flex-basis: 10%;
	text-align: center;
	margin: auto;
	padding: 5px;
}

.col-4 {
	flex-basis: 30%;
	text-align: justify;
	margin: auto;
	padding: 5px;
	font-size: 14px;
}

.col-5 {
	flex-basis: 20%;
	text-align: justify;
	margin: auto;
	padding: 5px;
	font-size: 14px;
}

.col-6 {
	flex-basis: 10%;
	text-align: center;
	margin: auto;
	font-size: 14px;
}

.table-row img {
	width: 50%;
	margin: 0 auto;
	display: block;
}

.STATUS {
	display: inline-block;
	left: 0;
	padding: 5px 5px;
	background: rgba(255, 255, 255, 0.8);
	color: #b08868d8;
	cursor: pointer;
	font-size: 16px;
	margin: 2px;
}

.STATUS:hover {
	background: #b08868d8;
	color: #fff;
}

.STATUS {
	border-radius: 5px;
}

select {
	display: block;
	height: 32px;
	font-size: 14px;
	width: 80px;
	margin-left: 90%;
	outline: none;
	margin-bottom: 1%;
}

li.table-row.a0 {
	display: none;
}

li.table-row.a1 {
	display: none;
}

li.table-row.a2 {
	display: none;
}

li.table-row.a3 {
	display: none;
}

.responsive-table {
	overflow-y: auto;
	height: 600px;
}