* {
    font-family: sans-serif, 'Kosugi Maru';
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  
}

.container h2 {
    font-size: 26px;
    margin: 20px 0;
    text-align: center;
    font-weight: 500;
    color: #4e5562;
}

.responsive-table li {
    border-radius: 3px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.table-header {
    background-color: #915957c2;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: whitesmoke;
}


.header-1 {
    flex-basis: 10%;
    text-align: center;
}

.header-2 {
    flex-basis: 15%;

    text-align: center;
}

.header-3 {
    flex-basis: 40%;
    text-align: center;
}

.header-4 {
    flex-basis: 23%;
    text-align: center;
}



.table-row {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #4e5562;  
}

.col-1 {
    flex-basis: 5%;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: 16px;
}

.col-2 {
    flex-basis: 20%;
    text-align: center;
    /* width: 20%; */
    margin: auto;
    padding: 5px;
    font-size: 16px;
    width: 5%;
}


.col-3 {
    flex-basis: 40%;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: 14px;
}

.col-4 {
    flex-basis: 20%;
    text-align: center;
    margin: auto;
    font-size: 14px;
}

.table-row img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.STATUS {
    display: inline-block;
    left: 0;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #b08868d8;
    cursor: pointer;
    font-size: 16px;
    margin: 2px;
}

.STATUS:hover {
    background: #b08868d8;
    color: #fff;
}

.STATUS {
    border-radius: 5px;
}

select {
    display: block;
    height: 32px;
    font-size: 14px;
    width: 80px;
    margin-left: 90%;
    outline: none;
    margin-bottom: 1%;
}

li.table-row.a0{
	display:none;
}

li.table-row.a1{
	display:none;
}

li:nth-child(n+2):hover{
    background-color: lightgrey;
}

.head{
    /* border: 1px solid lightslategray; */
    width: 100%;
    background-color: #b5c2c3;
    ;
    text-align: center;
    font-size: 2rem;
    color: white;
}
th{
    width: 15%;
}
td{
    width: 700px;
}

th,td{
    font-size: 1.5rem;
    border: 1px solid lightgrey;
    padding-bottom: 1%;
    padding-top: 1%;
    text-align: center;
    font-weight: 300;
    color: #4e5562;
}

td > img{
    width: 100px;
    height: 100px;
}

.btn-primary{
    background-color: #b08868d8;
    border: unset;
}
.btn-primary:hover{
    background-color: rgb(216, 216, 216);
    color: #b08868d8;
    border: unset;
}
.btn-secondary{
    color: rgb(255, 255, 255);
    background-color: rgb(108 117 125 / 50%);
    line-height: 21px;
    border: unset;
}
.btn-secondary:hover{
    background-color: rgb(216, 216, 216);
    color: #b08868d8;
    border: unset;
}
.modal-content{
    border-radius: 1rem;
}
p {
	vertical-align: top;
	margin-bottom:0px;
	height:37px;
}
img{
	vertical-align:
}
.name p {
	height:50px;
}