.report_div{
    height: 500px;
    width: 450px;
    border: black 3px double;
    box-shadow: 4px 4px 4px 4px rgb(187, 180, 170);
}

.report_content{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid black;
    text-align: center;
    padding-top: 35px;
    font-size: 24px;
    background-color: rgb(131, 161, 218);
    color: white;
}

.choose_div{
    width: 100%;
    height: 40px;
    text-align: center;
    padding-top: 20px;
}


.type_div{
    display: inline-block;
    width: 100%;
    font-size: 20px;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}

.type_div2{
    width: 100%;
    height: 130px;
    border-bottom: 3px solid black;
    position: relative;
    top: 30px;
}

.type_div2 input {
    text-align: left;
    display: inline-block;
    font-size: 18px;
    padding-top: 3px;
}

.msg_div{
    width: 100%;
    height: 150px;
    position: relative;
    top: 28px;
}

#re_msg{
    width: 100%;
    height: 140px;
    box-sizing: border-box;
    max-width: 100%;
    max-height: 140px;
    min-width: 100%;
    min-height: 140px;
    background-color: blanchedalmond;
}

.check{
    width: 100%;
    height: 20px;
    position: relative;
    top: 23px;
    padding-left: 160px;
}
